server:
  port: 7000
  
spring:
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
      
  datasource:
    url: jdbc:mysql://localhost:3306/stockApp
    username: root
    password: Temp1234
    
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
